#fetch-button {
    background-color: purple;
    color: white;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.row-content {
    display: flex;
    width: 100%;
}
.centered-item {
    width: 40%;
    margin: 10px 0;  /* This adds some vertical spacing between items */
}

.hidden {
    display: none;
}

.candlestick-chart {
    flex: none;
    width: 90%;
}
.daily-return-chart {
    flex: none;
    width: 90%;
}
.forecast-chart {
    flex: none;
    width: 90%;
}
.histogram {
    flex: none;
    width: 70%
}
.bullet-chart {
    flex: none;
    width: 20%;
}
.box-plots {
    flex: none;
    width: 90%;
}
.comb-histogram {
    flex: none;
    width: 90%;
}